body{
    background:rgb(173, 188, 221);
    font-size: 20px;
    font-family:courier;
   
}

li {
    float: left;
  }

li a {
    font-size: 15px;
    color: white;
    text-decoration: none;
    padding: 20px 20px;
    display: block;
  }
li a:hover {
    background-color: #111;
  }
ul{
   
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 0px;
 
   
  }

.button{ 
    font-size: 1.0em;
    padding:10px 20px;
    color: rgb(113, 55, 0);
    background-color: rgb(253, 198, 146);
    border-radius: 20px;
    cursor: pointer;
    transition:background-color 0.25s;
  
}
.button:hover{
    background-color: rgb(255, 145, 0);
}
input{
    width:1000px;
    height:50px;
}
ol,li{
    text-decoration: none;
    font-size: 20px;
    text-align:left;
    font-family:Helvetica;
    
}
p{
    color:white;
    font-size: 20px;
    font-style:italic;
}
h1{ color:white;
    position:relative;
    text-align: center;
    font-size: 50px;
    font-style:italic
    

}
img{    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:500px;
    height:300px;
  
}
.list{
    padding: 30px;
    width: 90%;
    height: 30%;
    background-color: rgb(255, 255, 255);
    overflow: scroll;
}
